<h1> Edit Porposal for: </h1>

<div class="jumbotron">
  <p class="lead">
    <b> Employee: </b> {{ editProposal.userAccount.firstName }} {{ editProposal.userAccount.lastName }} <br>
    <b> Manager: </b> {{ editProposal.manager.firstName }} {{ editProposal.manager.lastName }} <br>
    <b>Company Profile: </b> {{ editProposal.companyProfile }} <br>
    <b> National Work Profile: </b> {{ editProposal.nationalWorkProfile }} <br>
  </p>
</div>

<form [formGroup]="proposalForm" (ngSubmit)="onSubmit()" novalidate>
    <div *ngIf="editProposal" class="form-group">

        <label> <b> Money Proposal: </b>
            <input type="text" class="form-control" value="{{ editProposal.moneyProposal }}" formControlName="moneyProposal"
            [ngClass]="proposalForm.controls['moneyProposal'].hasError('required') ? 'borderValidation' : ''">
        </label>

        <br>

        <label> <b> Motivation: </b>
            <textarea type="text" class="form-control" value="{{ editProposal.motivation }}" formControlName="motivation" style="width:500px;"
                [ngClass]="proposalForm.controls['motivation'].hasError('required') ? 'borderValidation' : ''">
            </textarea>
        </label>

        <br>

        <button type="submit" class="btn btn-primary" [disabled]="proposalForm.pristine || proposalForm.invalid"> <span class="fa fa-check" aria-hidden="true"></span> </button>
        <button type="button" class="btn btn-danger" (click)="revert()"> <span class="fa fa-times" aria-hidden="true"></span></button>

    </div>
</form>


    <p> Form value: {{ proposalForm.value | json }} </p>
    <p> Form status: {{ proposalForm.status  }} </p>