/*#proposalList-table {
    table-layout: fixed;
}*/
 /*#proposalList-table th span {white-space: nowrap;}*/

// .table-responsive{
//     position: relative;
// }
 .locked{
       opacity: 0.2;
        &:hover{
             opacity: 1;
         }
     td{    
        
         color:#888;
         background-clip: #efefef;
        
     }
 }