User management
<br>
<br>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">

        <label> <b> Manager: </b>
            <select class="form-control" formControlName="teamLeader">
                <option *ngFor="let teamLeader of teamLeaderList" [ngValue]="teamLeader"> {{ teamLeader.firstName }} {{ teamLeader.lastName }} </option>
            </select>
        </label> 

        <br>
        My employees
        <br>

        <div class="table-responsive">
            <table id="userList-table" class="table table-striped table-bordered table-hover table-condensed ">
                <thead class="thead-primary">
                    <tr>
                        <th class="text-center col-md-1">
                            <span> First Name </span>
                        </th>
                        <th class="text-center col-md-1">
                            <span> Last Name </span>
                        </th>
                        <th class="text-center col-md-1">
                        </th>
                    </tr>
                </thead>
                <tbody *ngFor="let user of teamLeadersEmpList">
                    <td class="text-center col-md-1">
                        {{ user.firstName }}
                    </td>
                    <td class="text-center col-md-1">
                        {{ user.lastName }}
                    </td>
                    <td class="text-center col-md-1">
                        <button type="button" class="btn btn-danger" (click)="removeEmployee(user)"> 
                            <span class="fa fa-times" aria-hidden="true"></span> 
                        </button> 
                    </td>
                </tbody>
            </table>
        </div>

        <br>
        Not my employees

        <br>
        <div class="input-group input-group-sm">
            <!--<input type="text" [(ngModel)]="filterName" (ngModelChange)="usersFilter()" class="form-control" />-->
            <input type="text" class="form-control" formControlName="filterName"/>
        </div>
        <br>
        <div class="table-responsive" *ngIf="employeeList?.length>0">
            <table id="userList-table" class="table table-striped table-bordered table-hover table-condensed ">
                <thead class="thead-primary">
                    <tr>
                        <th class="text-center col-md-1">
                            <span> First Name </span>
                        </th>
                        <th class="text-center col-md-1">
                            <span> Last Name </span>
                        </th>
                        <th class="text-center col-md-1">
                        </th>
                    </tr>
                </thead>
                <tbody *ngFor="let user of employeeList">
                    <td class="text-center col-md-1">
                        {{ user.firstName }}
                    </td>
                    <td class="text-center col-md-1">
                        {{ user.lastName }}
                    </td>
                    <td class="text-center col-md-1">
                        <button *ngIf="!user.assigned" type="button" class="btn btn-primary" (click)="addEmployee(user)" 
                            [disabled]="userForm.controls['teamLeader'].value == null"> 
                            <span class="fa fa-plus" aria-hidden="true"></span> 
                        </button> 
                        <span *ngIf="user.assigned">Associato</span>
                    </td>
                </tbody>
            </table>
        </div>

        <br>
        <br>
        <!--<button type="submit" class="btn btn-primary" [disabled]="userForm.invalid"> <span aria-hidden="true"> Submit </span> </button>-->
    </div>
</form>